/* Estilo do menu de navegação */
.navbar {
    width: 100%;
    text-align: center;
}

.menu {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.menu li {
    position: relative;
    margin: 0 15px;
}

.menu a {
    padding: 10px 20px;
    background-color: #27ae60;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.menu a:hover {
    background-color: #219150;
}

/* Dropdown */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #27ae60;
    min-width: 160px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-radius: 5px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.dropdown-content li {
    width: 100%;
}

.dropdown-content li a {
    padding: 10px;
    display: block;
    text-align: left;
    border-radius: 5px;
}

.dropdown-content li a:hover {
    background-color: #219150;
}

/* Exibe o dropdown ao passar o mouse */
.dropdown:hover .dropdown-content {
    display: block;
}
